.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    color: #f48221 !important;
    border-bottom: 2px solid #f48221 !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
    color: #f48221 
}

.ant-menu {
    color: #fcb131 !important
}
.ant-menu-item-group-list .ant-menu-item:hover, .ant-menu-item-group-list .ant-menu-submenu-title:hover {
    color: #f48221 !important
}

.ant-btn-primary {
    background: #f48221 !important;
    border-color: #f48221 !important;
}

html {
    --antd-wave-shadow-color: #fcb131 !important;
}

::selection {
    background: #fcb131 !important;
}

.ant-input:focus, .ant-input:hover {
    border-color: #fcb131 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
    box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
}

.ant-cascader-picker .ant-cascader-picker-focused {
    border-color: #fcb131 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
    box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
}

.ant-cascader-picker-focused {    border-color: #fcb131 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
    box-shadow: 0 0 0 2px rgba(231, 222, 103, 0.466) !important;
}
a {
    color: #fcb131 !important;
}


.ant-menu-inline .ant-menu-item:hover, .ant-menu-inline .ant-menu-submenu-title {
    color: #f48221 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: #f48221 !important;
    background-color: #fcb13160 !important;
    border-right: #f48221 !important;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #f48221 !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #f48221 !important;
}

.ant-menu-submenu-arrow {
    color: #f48221 !important;
}

.ant-cascader-menus {
    color: #fcb131 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f48221 !important;
    border-color: #f48221 !important;
    border-radius: 8px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color: #fcb131 !important;;
}